body {
        background: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg);
        background-size: cover;
        font-family: sans-serif;
    }
    
    .container {
        background: #FFF;
        margin-top: 40px;
        min-height: 90vh;
        border-radius: 12px;
    }
    
    section {
        visiblity: hidden;
        -webkit-transition: all 1200ms ease;
        opacity: 0;
        height: 0;
    }
    
    section.active-section {
        display: block;
        opacity: 1;
        visiblity: visible;
        height: auto;
    }
    
    .activity-text {
        display: block;
        margin: 2em auto;
        border: solid;
        padding: 10px;
        font-size: 1.2em;
        line-height: 1.5em;
    }
    
    span.word {
        cursor: pointer;
        position: relative;
        color: #46c;
        font-weight: 600;
    }
    
    #myModal h1.active-word {
        text-align: center;
    }
    
    #myModal .help {
        display: none;
        border: solid #999;
        padding: 30px;
        margin: 0 auto;
        width: 80%;
    }
    
    .help:before {
        content: "?";
        position: absolute;
        width: 60px;
        height: 60px;
        border: solid;
        border-radius: 100%;
        background: #337ab7;
        color: #FFF;
        text-aligN: center;
        font-size: 3em;
        top: 60px;
        left: 50px;
        font-family: sans-serif;
    }
    
    #myModal .modal-header {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background: #fbc429;
    }
    
    #answers {
        display: none;
    }